.forgotPasswordC {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  h1 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
  }
  .mid-head {
    text-align: center;
  }
  .input-container {
    position: relative;
    input {
      border-color: #6c7689;
      height: 50px;
      background-color: transparent;
      padding: 0 43px;
      &:focus {
        border-color: #6c7689;
        box-shadow: unset;
      }
    }
  }

  .forgot-pass {
    color: #3b78f0;
    cursor: pointer;
  }
  button {
    height: 45px;
  }
  .form-check-input {
    height: 22px;
    width: 22px;
    margin-right: 0.5rem;
  }
  .form-check {
    display: flex;
    align-items: end;
  }

  .first-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #3b78f0;
  }
  .last-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #3b78f0;
  }

  form {
    width: 85%;
    margin: auto;
  }
}
