openai
langchain
langchain-openai
langchain-community
langchain-core
pypdf==3.15.2
# pinecone-client==2.2.2
python-dotenv==1.0.0
PyYAML==6.0.1

streamlit
streamlit-authenticator
streamlit-lottie
streamlit-option_menu
toml

#transformers
# nltk
pdfminer.six
numpy
click
faiss-cpu
tiktoken

googletrans
polib
python-gettext