.deletebutton {
  background-color: #0a57eb;
  color: white;
  padding: 1.7% 5%;
  border-radius: 10px;
}

.delete-button:hover {
  color: black;
  background-color: white;
  border: 0.3px solid black;
}

.cancel-button{
  border: 0.3px solid black;
  color: black;
}