.time-picker-outer-wrapper {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 145px;
  }
  li {
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 600ms;
  }
  li:hover {
    background-color: #E8EDFC;
  }
  li.active {
    background-color: #E8EDFC;
  }
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
