
**/Aksha
**/node_modules
**/env
Aksha_UIUX*/
docker-*/
aksha-venv/
Aksha-venv/
aksha-env/
anomaly-venv/
anomaly-env/
service-env/
__pycache__/
setup/
yolov4/*
.vscode/
Local_Test/
Aksha_browser/executables
SnippetTesting/
build/
dist/
main.spec
Aksha_Pipeline_exec
.dockerignore
rtsplinks.json
drift_dataset.ipynb
test.py

## Environments
.venv

## temp file
scratch.ipynb